button {
    margin: 5px;
    background-color:  rgb(70, 6, 143);
    color: white;
    font-weight: 800;
    padding: 1rem;
    border-width: 0px;
    border-radius: 5px;
    transition: all 1s;
}

button:hover {
    background-color:  rgb(70, 6, 143);
    color: white;
    font-weight: 800;
    padding: 1.2rem;
    border-width: 0px;
    border-radius: 5px;
   
    transition: all 1s;
}

form{
    display: flex;
    flex-direction: column;
    
}